/**
 * card.css
 * use to general stylings which applies to the whole project.
 * Owner: Demesh Fernando
 * Created Date: 27 July 2024
 * Last updated Date: 27 July 2024
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
